#producto1{
    background-color: tomato;
    width: 400px;
}

#producto2{
    background-color: aquamarine;
    width: 400px;
}

#producto3{
    background-color: yellow;
    width: 400px;
}

#carrito{
    background-color: hotpink;
    width: 400px;
    margin-top: 10px;
}

