#producto1{
    background-color: tomato;
    width: 100px;
    height: 100px;
}

#producto2{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

#producto3{
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#carrito{
    background-color: hotpink;
    width: 100px;
    height: 100px;
}