div .products{
    width: 30%;
    background-color: orange;
    margin-bottom: 10px;
    padding: 8px;
}

.div-carrito{
    background-color: hotpink;
    width: 400px;
    height: auto;
    margin-top: 10px;
}

header{
    background-color: hotpink;
}

.logo img{
    width: 200px;
}

div .form {
    background-color: aquamarine;
}